<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fadi's Portfolio</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400|Libre+Franklin:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <img src="/CSS/Assets/img/yellow_shape.svg" alt="" class="yellow">
        <img src="/CSS/Assets/img/pink_shape.svg" alt="" class="pink">
        <img src="/CSS/Assets/img/green_shape.svg" alt="" class="green">
        <img src="/CSS/Assets/img/blue_shape.svg" alt="" class="blue">
        <img src="/CSS/Assets/img/chevron-down.png" alt="" class="header--chevron">
        <div class="header__textbox">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Hi,</span>
                <span class="heading-primary--main">I&rsquo;m Fadi Rizk</span>
            </h1>
            <p class="heading-secondary">
                <span class="heading-primary--sub underline-1">An instiably curious product</span>
                <span class="heading-primary--sub underline-2">designer</span>
            </p>
        </div>
    </header>
    <main>
        <section class="section-about">
            <div class="row">
                <div class="col-2-of-3">
                    <h2 class="about-fadi--heading underline-3">A little about me</h2>
                    <div class="about-fadi--description">
                        <p class="description-space">I have a deep interest in human beings and try to make sense of what they do. While the what is certainly important the why is where I get really excited.</p>
                        <p class="description-space">I consider myself a troubleshooter and a problem solver. I like to tinker. Ask lots of questions. And figure things out.</p>
                        <p class="description-space">I lead with empathy and always assume the best in people. I believe sincerely in the collective intelligence of the group, and I’m okay with the ambiguity that life throws at us.</p>
                        <p class="description-space">I’m also a coach in <span class="fadis-work">Seth Godin’s altMBA </span> and used to be a healthcare practitioner. You can read about my career pivot in CreativeMornings <a href="https://creativemornings.com/blog/fadi-rizk" class="fadis-work">here</a> and a post I wrote on Medium <a href="https://blog.usejournal.com/the-pivot-10cf6d7031de" class="fadis-work">here</a>.</p>
                        <p class="description-space">Hope you stick around and see some of my work below</p>    
                    </div>
                </div>
                <div class="col-1-of-3">
                    <img src="/CSS/Assets/img/1362.png" alt="" class="fadi">
                </div>
            </div>
        </section>
        <section class="section-work">
                <div class="row">
                        <h2 class="about-fadi--heading underline-3">Selected Work</h2>
                </div>
                <div class="row">
                    <div class="project">
                        <img src="/CSS/Assets/img/Nimble.png" alt="" class="project--image">
                        <div class="project__info">
                            <h2 class="project__info--heading">Nimble</h2>
                            <p class="project__info--description">Reimagining the digital pharmacy experience for patients.</p>
                            <h3 class="project__info--readmore">READ MORE &rarr;</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="project">
                        <img src="/CSS/Assets/img/sugar_mobile.png" alt="" class="project--image">
                        <div class="project__info">
                            <h2 class="project__info--heading">Sugar</h2>
                            <p class="project__info--description">Designed Sugar Mobile’s digital services including new customer onboarding, service activation, phone number selection, and top ups to name a few. </p>
                            <h3 class="project__info--readmore">READ MORE &rarr;</h3>
                        </div>
                    </div>
                </div>
        </section>
    </main>
</body>
</html>